.gallery {
  background: white;
  width: 40em;
  left: 45em;
  padding-top: 150px;
}

.gallery-cell {
  width: 100%;
  height: 400px;

}

.gallery-cell img {
  display: block;
  max-height: 400px;
  max-width: 100%;
  margin: 0 auto;
}


.button {
  margin-right: 8em;
  height: 40px;
}

.button2 {
  margin-left: 8em;
  height: 40px;
}
/* big buttons, no circle */
.flickity-prev-next-button {
  width: 100px;
  height: 100px;
  background: transparent;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
.flickity-prev-next-button:hover {
  background: transparent;
}
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}

/* position dots in gallery */
.flickity-page-dots {
  bottom: 0px;
}
/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: white;
}
